extends layout

block title
    = title
block import

block content
    style.
        .dis-selectable {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    div#main.ui.container
        div.ui.grid
